backend\runtime\cache\*.*
backend\runtime\logs\*.*
backend\runtime\debug\*.*
backend\runtime\transactions\*.*
backend\web\assets\*.*
backend\web\files\badge_photos\*.jpg
backend\web\files\rosters\*.*
common\config\main-local.php
vendor
composer.lock
vendor/autoload.php
