backend\runtime\cache\*.*
backend\runtime\logs\*.*
backend\runtime\debug\*.*
backend\runtime\transactions\*.*
backend\web\assets\*.*
backend\web\files\badge_photos\*.jpg
backend\web\files\rosters\*.*
vendor\*.*

