backend\config\params.php
backend/config/params.php
backend\runtime\cache\*.*
backend\runtime\logs\*.*
backend\runtime\debug\*.*
backend\runtime\HTML
backend/runtime/HTML
backend/runtime/mpdf
backend\runtime\transactions\*.*
backend\web\assets\*.*
backend/web/export
backend\web\files\badge_photos\*.jpg
backend/web/files/badge_photos/*.jpg
backend\web\files\rosters\*.*
backend/web/files/rosters/*.*
backend\config\main-local.php
backend/config/main-local.php
common\config\main-local.php
common/config/main-local.php
vendor
comms_constants.php
backend/web/passwd
