Options +FollowSymLinks
IndexIgnore /
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<Files \comms.php>
  <RequireAny>
	Require ip 72.170.251.9
	Require ip 96.234.172.160/29
  </RequireAny>
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</Files>